.button {
    font-family: $main-font;
    border: none;
    border-radius: $small-border-radius;
    padding: 10px 15px;
    outline: none;
    font-size: $font-size-regular;
    align-items: center;
    justify-content: center;
    transition: .2s;
    &[disabled] {
        opacity: 0.6;
        pointer-events: none;
    }
    &:hover {
        cursor: pointer;
        transition: .3s;
    }
    &.primary {
        background-color: $greeny-blue;
        color: $white;
        border: 2px solid;
        border-color: $greeny-blue;
        &:hover {
            border-color: rgba($greeny-blue, .9);
            background-color: rgba($greeny-blue, .9);
        }
        svg {
            fill: $white;
            width: 25px;
            margin-left: 1em;
            height: auto;
        }
    }
    &.secondary {
        background-color: transparent;
        color: $white;
        border: 2px solid $white;
        &.green {
            border-color: $greeny-blue;
            color: $greeny-blue;
            &:hover {
                background: rgba($greeny-blue, 0.2);
            }
        }
    }
    @media (max-width: 769px) {
        width: 100%;
        margin-bottom: $small-margin;
    }
}