.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1px;
    margin-bottom: 150px;
    min-height: 450px;
    .container {
        justify-content: space-between;
    }
    &:after {
        content: '';
        width: 100%;
        height: 150%;
        background: $gradient;
        top: -50%;
        left: 0;
        position: absolute;
        z-index: 2;
        transform: skewY(-3deg);
        opacity: .7;
    }
    &:before {
        content: '';
        width: 100%;
        height: 150%;
        background: url(../assets/images/finance.jpg);
        background-size: cover;
        background-position: center top;
        top: -50%;
        left: 0;
        position: absolute;
        z-index: 0;
        transform: skewY(-3deg);
        filter: grayscale(100%);
    }
    * {
        z-index: 3;
        position: relative;
    }
}

.plans {
    position: relative;
    z-index: 1;
}

.how-it-works {
    position: relative;
    padding: $small-padding;
    z-index: 0;
    padding-bottom:10em;
    margin-top: 3em;
    &:before {
        content: '';
        width: 100%;
        height: 130%;
        background: $gradient-inverted;
        opacity: .9;
        top: -20%;
        left: 0;
        position: absolute;
        z-index: 0;
        transform: skewY(-3deg);
    }
    * {
        z-index: 1;
        position: relative;
    }
}

.how-secure {
    position: relative;
    z-index: 2;
    top: -5em;
    padding-top: 5em;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: $pale-grey;
        top:-5%;
        left: 0;
        position: absolute;
        z-index: 0;
        transform: skewY(3deg);
    }    
    * {
        z-index: 1;
        position: relative;
    }
    .image-container {
        min-width: 125px;
        max-width: 125px;
        padding: $small-padding;
    }
}

.ready-contact {
    position: relative;    
    padding-top: 10em;
    background: url(../assets/images/join.jpg);
    background-size: cover;
    .panel {
        max-width: 400px;
    }
    &:before {
        backdrop-filter: grayscale(100%);
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $gradient;
        opacity: .9;
        z-index: 1;
        background-position: center;
    }
    &:after {
        content: '';
        width: 100%;
        height: 20%;
        background: $pale-grey;
        top: -10%;
        right: 0;
        position: absolute;
        z-index: 2;
        transform: skewY(3deg);
    }
    * {
        z-index: 1;
        position: relative;
    }
}

@media (max-width: 769px) {
    .hero {
        text-align: center;
        &:before {
            background-position: calc(35%) calc(100%  + 150px);
        }
        .container {
            flex-direction: column;
        }
    
    }
    
    .plans {
        flex-direction: column;
    }
    .how-it-works {
        .how-item {
            flex-direction: column;
            text-align: center;
            img {
                order: 1;
                margin: 0;
                margin-bottom: 2em;
            }
            .description {
                order: 2;
            }
        }
    }
    .how-secure {
        .secure-item {
            flex-direction: column;
            text-align: center;
            align-items: center;
            .image-container {
                min-width: auto;
                max-width: 100%;
            }
            img {
                height: 125px;
                min-width: 125px;
                max-width: 125px;
                margin: 0;
                padding: 0;
            }
        }
    }
 }