@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,600");
html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  background-color: #f2f6f9;
  height: 100%;
  flex-direction: column;
  display: flex; }

#root {
  height: 100%; }
  #root .awsappsync {
    display: flex;
    flex-direction: column;
    height: 100%; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.15em; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

p {
  font-size: 1em;
  font-weight: 300; }

label {
  font-size: 1em;
  font-weight: 300; }

a {
  font-weight: 300;
  text-decoration: none;
  color: #FFF; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }
  a:visited {
    text-decoration: none;
    color: inherit; }

input, textarea, select {
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  padding: 5px 1em;
  border-radius: 6px;
  border: 0.5px solid #979797;
  width: 100%;
  box-sizing: border-box;
  resize: vertical; }
  input:focus, textarea:focus, select:focus {
    outline: none;
    border: 1px solid #55bca4;
    box-shadow: 0 0 5px #55bca4; }

select {
  background: #FFF;
  height: 3em;
  margin-bottom: 1em; }

input[type="text"], input[type="password"], textarea {
  font-size: 1em;
  margin-bottom: 1em; }
  input[type="text"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
    color: rgba(151, 151, 151, 0.8); }

.green-text-color {
  color: #55bca4; }

.white-text-color {
  color: #FFF; }

.note-text-size {
  font-size: 0.85em; }

.white-bg {
  background-color: #FFF; }

.dark-bg {
  background-color: #4a4a4a; }

.blue-bg {
  background-color: #270f71; }

.gradient-bg {
  background-image: linear-gradient(317deg, #55bca4, #270f71); }
  .gradient-bg.inverted {
    background-image: linear-gradient(154deg, #55bca4, #270f71); }

.small-padding {
  padding: 1em; }

.big-padding-bottom {
  padding: 3em; }

.margin-auto {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.no-margin {
  margin: 0; }

.small-margin {
  margin: 1em; }

.small-margin-top {
  margin-top: 1em; }

.small-margin-right {
  margin-right: 1em; }

.small-margin-bottom {
  margin-bottom: 1em; }

.small-margin-left {
  margin-left: 1em; }

.medium-margin-bottom {
  margin-bottom: 2em; }

.medium-margin-top {
  margin-top: 2em; }

.big-margin-bottom {
  margin-bottom: 3em; }

.big-margin-top {
  margin-top: 3em; }

.small-border-radius {
  border-radius: 6px; }

.flex {
  display: flex; }

.flex-1 {
  flex: 1; }

.justify-between {
  justify-content: space-between; }

.justify-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.align-items-start {
  align-items: flex-start; }

.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1px;
  margin-bottom: 150px;
  min-height: 450px;
  padding-top: 70px; }
  .hero .container {
    justify-content: space-between; }
  .hero:after {
    content: '';
    width: 100%;
    height: 150%;
    background: linear-gradient(317deg, #55bca4, #270f71);
    top: -50%;
    left: 0;
    position: absolute;
    z-index: 2;
    transform: skewY(-3deg);
    opacity: .7; }
  .hero:before {
    content: '';
    width: 100%;
    height: 150%;
    background: url(../assets/images/finance.jpg);
    background-size: cover;
    background-position: center top;
    top: -50%;
    left: 0;
    position: absolute;
    z-index: 0;
    transform: skewY(-3deg);
    filter: grayscale(100%); }
  .hero > * {
    z-index: 3;
    position: relative; }

.plans {
  position: relative;
  z-index: 1; }

.how-it-works {
  position: relative;
  padding: 1em;
  z-index: 0;
  padding-bottom: 10em;
  margin-top: 3em; }
  .how-it-works:before {
    content: '';
    width: 100%;
    height: 130%;
    background: linear-gradient(154deg, #55bca4, #270f71);
    opacity: .9;
    top: -20%;
    left: 0;
    position: absolute;
    z-index: 0;
    transform: skewY(-3deg); }
  .how-it-works * {
    z-index: 1;
    position: relative; }

.how-secure {
  position: relative;
  z-index: 2;
  top: -5em;
  padding-top: 5em; }
  .how-secure:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #f2f6f9;
    top: -5%;
    left: 0;
    position: absolute;
    z-index: 0;
    transform: skewY(3deg); }
  .how-secure * {
    z-index: 1;
    position: relative; }
  .how-secure .image-container {
    min-width: 125px;
    max-width: 125px;
    padding: 1em; }

.ready-contact {
  position: relative;
  padding-top: 10em;
  background: url(../assets/images/join.jpg);
  background-size: cover; }
  .ready-contact .panel {
    max-width: 400px; }
  .ready-contact:before {
    backdrop-filter: grayscale(100%);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(317deg, #55bca4, #270f71);
    opacity: .9;
    z-index: 1;
    background-position: center; }
  .ready-contact:after {
    content: '';
    width: 100%;
    height: 20%;
    background: #f2f6f9;
    top: -10%;
    right: 0;
    position: absolute;
    z-index: 2;
    transform: skewY(3deg); }
  .ready-contact * {
    z-index: 1;
    position: relative; }

@media (max-width: 769px) {
  .hero {
    text-align: center;
    margin-bottom: 200px;
    align-items: center;
    display: flex; }
    .hero:before {
      background-position: calc(35%) calc(100%  + 150px); }
    .hero > .container {
      flex-direction: column; }
  .plans {
    flex-direction: column; }
  .how-it-works .how-item {
    flex-direction: column;
    text-align: center; }
    .how-it-works .how-item img {
      order: 1;
      margin: 0;
      margin-bottom: 2em; }
    .how-it-works .how-item .description {
      order: 2; }
  .how-secure .secure-item {
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .how-secure .secure-item .image-container {
      min-width: auto;
      max-width: 100%; }
    .how-secure .secure-item img {
      height: 125px;
      min-width: 125px;
      max-width: 125px;
      margin: 0;
      padding: 0; } }

.auth-panel, .sign-in, .sign-up, .code-confirm {
  max-width: 400px;
  width: 100%;
  margin-bottom: -200px;
  position: relative;
  animation: .5s panel-enter forwards; }

@media (max-width: 769px) {
  .sign-in {
    margin-bottom: -150px;
    max-width: 100%;
    text-align: center;
    margin-top: 3em; } }

@keyframes panel-enter {
  0% {
    left: -50px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

.dashboard-page {
  margin: auto;
  padding: 1em; }

.panels-list {
  display: flex;
  flex-wrap: wrap; }
  .panels-list .panel {
    width: calc((100%  / 3) - (1em * 2));
    display: inline-block;
    margin-bottom: 1em;
    overflow: hidden;
    margin: 1em; }
    .panels-list .panel .progress-radial h2 {
      position: relative;
      right: -5px;
      display: flex; }
    .panels-list .panel .progress-radial p {
      margin: 0; }
    .panels-list .panel h2 {
      align-items: center; }
      .panels-list .panel h2 svg {
        width: 35px;
        height: 35px;
        margin-right: 1em; }
    .panels-list .panel .panel-buttons {
      display: flex;
      padding: 1em;
      margin-top: calc(-1em); }
      .panels-list .panel .panel-buttons button {
        flex: 1; }
    .panels-list .panel .summary ul {
      padding: 1em;
      background: rgba(74, 74, 74, 0.08);
      border-radius: 6px;
      margin-top: calc(-1em);
      display: flex;
      flex-wrap: wrap; }
      .panels-list .panel .summary ul li {
        margin-bottom: 1em;
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center; }
  @media (max-width: 769px) {
    .panels-list .panel {
      width: 100%; }
      .panels-list .panel .panel-buttons {
        flex-direction: column-reverse; } }

.tandita-modal .no-participants {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .tandita-modal .no-participants img {
    width: 100px; }

.tandita-modal .open-spaces li {
  padding: 5px 15px;
  line-height: 30px;
  border-left: 5px solid;
  border-color: rgba(74, 74, 74, 0.2);
  margin-bottom: 10px;
  background: rgba(74, 74, 74, 0.08);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  transition: .3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }
  .tandita-modal .open-spaces li > * {
    position: relative;
    z-index: 1; }
  .tandita-modal .open-spaces li:hover {
    cursor: pointer;
    transition: .3s;
    background-color: rgba(85, 188, 164, 0.2); }
  .tandita-modal .open-spaces li.taken {
    border-color: #55bca4; }

.tandita-modal .summary {
  padding: 0;
  margin-top: 2em; }

.panels-list .react-modal-container .react-modal-panel {
  max-width: 700px;
  width: calc(100% - 30px); }

.layout {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .layout .content {
    position: relative;
    flex: 3;
    padding-top: calc(70px + 15px); }

.container {
  width: 100%;
  max-width: 1120px; }

.row {
  position: relative;
  margin-left: calc(-1em);
  width: calc(100% + (1em * 2)); }

.button {
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  outline: none;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  transition: .2s; }
  .button[disabled] {
    opacity: 0.6;
    pointer-events: none; }
  .button:hover {
    cursor: pointer;
    transition: .3s; }
  .button svg {
    width: 25px;
    margin-left: 1em;
    height: auto; }
  .button.primary {
    background-color: #55bca4;
    color: #FFF;
    border: 2px solid;
    border-color: #55bca4; }
    .button.primary:hover {
      border-color: rgba(85, 188, 164, 0.9);
      background-color: rgba(85, 188, 164, 0.9); }
    .button.primary svg {
      fill: #FFF; }
  .button.link {
    background: none;
    color: #FFF;
    padding: 0; }
  .button.secondary {
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF; }
    .button.secondary.green {
      border-color: #55bca4;
      color: #55bca4; }
      .button.secondary.green:hover {
        background: rgba(85, 188, 164, 0.2); }
      .button.secondary.green svg {
        fill: #55bca4; }
  @media (max-width: 769px) {
    .button {
      width: 100%;
      margin-bottom: 1em; } }

.panel {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px; }

.navbar {
  display: flex;
  width: 100%;
  min-height: 70px;
  height: 70px;
  position: fixed;
  top: 0;
  flex-shrink: 0;
  z-index: 4; }
  .navbar .menu-link {
    display: none; }
  .navbar .links {
    position: relative;
    right: -1em; }
    .navbar .links a, .navbar .links button {
      margin: 1em; }
  @media (max-width: 769px) {
    .navbar .links-list {
      display: flex;
      justify-content: space-between;
      position: auto; }
      .navbar .links-list .menu-link {
        display: block;
        margin: 0; }
        .navbar .links-list .menu-link svg {
          fill: #fff;
          width: 25px;
          height: 25px; }
      .navbar .links-list .links {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 100px;
        z-index: -1;
        flex-direction: column;
        display: flex;
        align-items: center; }
        .navbar .links-list .links.visible {
          position: fixed;
          top: 70px;
          z-index: 3; }
        .navbar .links-list .links a, .navbar .links-list .links .button {
          margin: 0;
          background: rgba(74, 74, 74, 0.98);
          line-height: 4em;
          width: 100%;
          text-align: center;
          border-radius: 0; } }

.flash-notice {
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 6px;
  padding: .5em; }
  .flash-notice.success {
    background: rgba(85, 188, 164, 0.6);
    border-color: #55bca4;
    color: #FFF; }
  .flash-notice.error {
    background: rgba(245, 58, 51, 0.5);
    border-color: #F53A33;
    color: #FFF; }

.progressbar {
  border-radius: 6px;
  background: rgba(151, 151, 151, 0.2);
  height: .5em;
  width: 100%;
  margin-top: 1em;
  display: flex;
  overflow: hidden; }
  .progressbar .progress {
    width: 50%;
    background: #55bca4; }

.progress-radial {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; }
  .progress-radial svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

.progress {
  transform: rotate(-90deg); }
  .progress text {
    font-size: 150%;
    font-family: "Poppins", sans-serif; }

.progress__meter,
.progress__value {
  fill: none; }

.progress__meter {
  stroke: #f2f6f9; }

.progress__value {
  stroke: #FFF;
  stroke-linecap: round;
  animation: 2s dash forwards; }

@keyframes dash {
  0% {
    stroke-dashoffset: 339; } }

.react-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .react-modal-container .react-modal-panel {
    position: relative;
    background: #FFF;
    top: 50px;
    width: calc(50% - 30px);
    border-radius: 3px;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    animation: show-modal .5s forwards; }
  .react-modal-container .react-modal-overlay {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(74, 74, 74, 0.8);
    top: 0;
    left: 0; }

@keyframes show-modal {
  from {
    top: 0px;
    opacity: 0; }
  to {
    top: 50px;
    opacity: 1; } }
