@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,600");
html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  background-color: #f2f6f9;
  height: 100%;
  flex-direction: column;
  display: flex; }

#root {
  height: 100%; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.15em; }

p {
  font-size: 1em;
  font-weight: 300; }

label {
  font-size: 1em;
  font-weight: 300; }

a {
  font-weight: 300;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }
  a:visited {
    text-decoration: none;
    color: inherit; }

input, textarea {
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  padding: 5px 15px;
  border-radius: 6px;
  border: 0.5px solid #979797;
  width: 100%;
  box-sizing: border-box;
  resize: vertical; }
  input:focus, textarea:focus {
    outline: none;
    border: 1px solid #55bca4;
    box-shadow: 0 0 5px #55bca4; }

input[type="text"], input[type="password"], textarea {
  font-size: 1em;
  margin-bottom: 1em; }
  input[type="text"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
    color: rgba(151, 151, 151, 0.8); }

.green-text-color {
  color: #55bca4; }

.white-text-color {
  color: #FFF; }

.white-bg {
  background-color: #FFF; }

.dark-bg {
  background-color: #4a4a4a; }

.gradient-bg {
  background-image: linear-gradient(317deg, #55bca4, #270f71); }
  .gradient-bg.inverted {
    background-image: linear-gradient(154deg, #55bca4, #270f71); }

.small-padding {
  padding: 1em; }

.big-padding-bottom {
  padding: 3em; }

.small-margin {
  margin: 1em; }

.small-margin-top {
  margin-top: 1em; }

.small-margin-right {
  margin-right: 1em; }

.small-margin-bottom {
  margin-bottom: 1em; }

.small-margin-left {
  margin-left: 1em; }

.medium-margin-bottom {
  margin-bottom: 2em; }

.medium-margin-top {
  margin-top: 2em; }

.big-margin-bottom {
  margin-bottom: 3em; }

.big-margin-top {
  margin-top: 3em; }

.margin-auto {
  margin: auto; }

.text-center {
  text-align: center; }

.small-border-radius {
  border-radius: 6px; }

.flex {
  display: flex; }

.flex-1 {
  flex: 1; }

.justify-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

.align-items-start {
  align-items: flex-start; }

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1px;
  margin-bottom: 150px;
  min-height: 450px; }
  .hero .container {
    justify-content: space-between; }
  .hero:after {
    content: '';
    width: 100%;
    height: 150%;
    background: linear-gradient(317deg, #55bca4, #270f71);
    top: -50%;
    left: 0;
    position: absolute;
    z-index: 2;
    transform: skewY(-3deg);
    opacity: .7; }
  .hero:before {
    content: '';
    width: 100%;
    height: 150%;
    background: url(../assets/images/finance.jpg);
    background-size: cover;
    background-position: center top;
    top: -50%;
    left: 0;
    position: absolute;
    z-index: 0;
    transform: skewY(-3deg);
    filter: grayscale(100%); }
  .hero * {
    z-index: 3;
    position: relative; }

.plans {
  position: relative;
  z-index: 1; }

.how-it-works {
  position: relative;
  padding: 1em;
  z-index: 0;
  padding-bottom: 10em;
  margin-top: 3em; }
  .how-it-works:before {
    content: '';
    width: 100%;
    height: 130%;
    background: linear-gradient(154deg, #55bca4, #270f71);
    opacity: .9;
    top: -20%;
    left: 0;
    position: absolute;
    z-index: 0;
    transform: skewY(-3deg); }
  .how-it-works * {
    z-index: 1;
    position: relative; }

.how-secure {
  position: relative;
  z-index: 2;
  top: -5em;
  padding-top: 5em; }
  .how-secure:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #f2f6f9;
    top: -5%;
    left: 0;
    position: absolute;
    z-index: 0;
    transform: skewY(3deg); }
  .how-secure * {
    z-index: 1;
    position: relative; }
  .how-secure .image-container {
    min-width: 125px;
    max-width: 125px;
    padding: 1em; }

.ready-contact {
  position: relative;
  padding-top: 10em;
  background: url(../assets/images/join.jpg);
  background-size: cover; }
  .ready-contact .panel {
    max-width: 400px; }
  .ready-contact:before {
    backdrop-filter: grayscale(100%);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(317deg, #55bca4, #270f71);
    opacity: .9;
    z-index: 1;
    background-position: center; }
  .ready-contact:after {
    content: '';
    width: 100%;
    height: 20%;
    background: #f2f6f9;
    top: -10%;
    right: 0;
    position: absolute;
    z-index: 2;
    transform: skewY(3deg); }
  .ready-contact * {
    z-index: 1;
    position: relative; }

@media (max-width: 769px) {
  .hero {
    text-align: center;
    margin-bottom: 200px; }
    .hero:before {
      background-position: calc(35%) calc(100%  + 150px); }
    .hero .container {
      flex-direction: column; }
  .plans {
    flex-direction: column; }
  .how-it-works .how-item {
    flex-direction: column;
    text-align: center; }
    .how-it-works .how-item img {
      order: 1;
      margin: 0;
      margin-bottom: 2em; }
    .how-it-works .how-item .description {
      order: 2; }
  .how-secure .secure-item {
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .how-secure .secure-item .image-container {
      min-width: auto;
      max-width: 100%; }
    .how-secure .secure-item img {
      height: 125px;
      min-width: 125px;
      max-width: 125px;
      margin: 0;
      padding: 0; } }

.auth-panel, .sign-in, .sign-up, .code-confirm {
  max-width: 400px;
  width: 100%;
  margin-bottom: -200px;
  position: relative;
  animation: .5s panel-enter forwards; }

@media (max-width: 769px) {
  .sign-in {
    margin-bottom: -150px;
    max-width: 100%;
    text-align: center;
    margin-top: 3em; } }

@keyframes panel-enter {
  0% {
    left: -50px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

.layout {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .layout .content {
    position: relative;
    flex: 3; }

.container {
  width: 100%;
  max-width: 1120px; }

.button {
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  outline: none;
  font-size: 1em; }
  .button[disabled] {
    opacity: 0.6;
    pointer-events: none; }
  .button:hover {
    cursor: pointer; }
  .button.primary {
    background-color: #55bca4;
    color: #FFF;
    border: 2px solid;
    border-color: #55bca4; }
    .button.primary:hover {
      border-color: rgba(85, 188, 164, 0.9);
      background-color: rgba(85, 188, 164, 0.9); }
  .button.secondary {
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF; }
    .button.secondary.green {
      border-color: #55bca4;
      color: #55bca4; }
  @media (max-width: 769px) {
    .button {
      width: 100%;
      margin-bottom: 1em; } }

.panel {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px; }

.navbar {
  display: flex;
  width: 100%;
  flex-shrink: 0; }

.flash-notice {
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 6px;
  padding: .5em; }
  .flash-notice.success {
    background: rgba(85, 188, 164, 0.6);
    border-color: #55bca4;
    color: #FFF; }
  .flash-notice.error {
    background: rgba(245, 58, 51, 0.5);
    border-color: #F53A33;
    color: #FFF; }
