// Colors
$pale-grey: #f2f6f9;
$greeny-blue: #55bca4;
$white: #FFF;
$greyish-brown: #4a4a4a;
$warm-grey: #979797;
$dark-indigo: #270f71;

// Gradients
$gradient: linear-gradient(317deg, $greeny-blue, $dark-indigo);
$gradient-inverted: linear-gradient(154deg, $greeny-blue, $dark-indigo);

// Fonts
$main-font: 'Poppins', sans-serif;
$font-size-regular: 1em;
$font-size-title: 2.6em;
$font-size-subtitle: 1.7em;
$font-size-subtitle-h3: 1.4em;
$font-size-subtitle-h4: 1.15em;
$light-weight: 300;

// Borders
$small-border-radius: 6px;

// Paddings
$small-padding: 1em;