html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: $main-font;
    color: $greyish-brown;
    background-color: $pale-grey;
    height: 100%;
    flex-direction: column;
    display: flex;
}

#root {
    height: 100%;
    .awsappsync {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $font-size-title;
}

h2 {
    font-size: $font-size-subtitle;
}

h3 {
    font-size: $font-size-subtitle-h3;
}

h4 {
    font-size: $font-size-subtitle-h4;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

p {
    font-size: $font-size-regular;
    font-weight: $light-weight;
}

label {
    font-size: $font-size-regular;
    font-weight: $light-weight;
}

a {
    font-weight: $light-weight;
    text-decoration: none;
    color: $white;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

input, textarea {
    font-family: $main-font;
    color: $greyish-brown;
    padding: 5px 15px;
    border-radius: $small-border-radius;
    border: .5px solid  $warm-grey;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    &:focus {
        outline: none;
        border:1px solid $greeny-blue;
        box-shadow: 0 0 5px $greeny-blue;
    }
}

input[type="text"], input[type="password"], textarea {
    font-size: $font-size-regular;
    margin-bottom: 1em;
    &::placeholder {
        color: rgba($warm-grey, .8);
    }
}

// Text colors
.green-text-color { color: $greeny-blue; }
.white-text-color { color: $white; }

// Text sizes
.note-text-size { font-size: $font-size-note }


// Backgrounds
.white-bg { background-color: $white; }
.dark-bg { background-color: $greyish-brown; }
.blue-bg { background-color: $dark-indigo; }
.gradient-bg {
    background-image: $gradient;
    &.inverted {
        background-image: $gradient-inverted;
    }
}

// Paddings
.small-padding { padding: $small-padding; }

.big-padding-bottom { padding: 3em; }

// Alignments
.margin-auto { margin: 0 auto; }
.text-center { text-align: center; }

// Margins
.no-margin { margin: 0; }
.small-margin { margin: $small-margin; }
.small-margin-top { margin-top: $small-margin; }
.small-margin-right { margin-right: $small-margin; }
.small-margin-bottom { margin-bottom: $small-margin; }
.small-margin-left { margin-left: $small-margin; }

.medium-margin-bottom { margin-bottom: 2em; }
.medium-margin-top { margin-top: 2em; }

.big-margin-bottom { margin-bottom: 3em; }
.big-margin-top { margin-top: 3em; }

// Borders
.small-border-radius {
    border-radius: $small-border-radius;
}

.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}

// Justify Contents
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }

// Align Items
.align-items-center { align-items: center; }
.align-items-start { align-items: flex-start; }

.width-100 { width: 100%; }
.width-50 { width: 50%; }
